<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- solr单机版 -->
    <bean class="org.apache.solr.client.solrj.impl.HttpSolrServer" id="httpSolrServer" >
        <constructor-arg name="baseURL" value="http://192.168.144.134:8080/solr"/>
    </bean>
</beans>